<!doctype html>
<html>
  <head>
    <title><%- title %></title>
    <link href="https://boomtownroi.github.io/boomstrap/css/boomstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>