<!doctype html>
<html>
  <head>
    <title><%- title %></title>
    <link href="https://boomtownroi.github.io/boomstrap/css/boomstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
	
    <div id="main">
      <%- reactOutput %>
    </div>

	<!-- comment out main.js to see server side only rendering -->
	<script src="/build/main.js"></script>

  </body>
</html>